<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户详情页面</title>
</head>
<body>
    <div>{{ userinfo }}</div>
    <!-- <a href="/users/users_list/">用户列表</a> -->
    <a href="{% url 'users:usersList' %}">用户列表</a>
</body>
</html>